body{
    background-color:rgb(6, 32, 6);
}

#dgp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

#clock{
    color: rgb(53, 221, 53);
    font-size: 5rem;
}
